.btnList {
  display: flex;
  align-items: center;
}

.btnSecondary,
.btnPrimary {
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btnSecondary {
  margin-left: 20px;
  color: var(--blue100);
  background: none;
}

.btnPrimary {
  padding: 13px 25px;
  color: var(--white);
  background: var(--blue100);
  border-radius: 50px;
}
