@import "@assets/css/styles";

.title {
  margin-top: 3.2rem;
}

.headerPage {
  display: flex;
  margin-top: 2.2rem;
  margin-bottom: 3.5rem;

  & > div:first-child {
    margin-right: 1.875rem;

    @media (max-width: $global-md) {
      margin-right: 0;
    }
  }

  @media (max-width: $global-md) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.notification {
  padding: 3rem 2rem;
  font-size: 1.1rem;
  background-color: var(--white);
  border-radius: 10px;
}

.carouselWrapper {
  width: 50%;

  @media (max-width: $global-md) {
    width: auto;
  }
}

.detailsCarPanelWrapper {
  width: 50%;

  @media (max-width: $global-md) {
    width: auto;
    margin-top: 2.5rem;
  }
}

.completeSetWrapper {
  margin: -1.875rem 0;
}

.footerPage {
  min-height: 6.75rem;
}
