@import "@assets/css/variables";

.container {
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 100000;
}

.content {
  position: relative;
  display: flex;
  max-width: 400px;
  padding: 25px 30px 30px;
  background-color: var(--white);
  border-top: 5px solid var(--blue100);
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 0;
  color: var(--gray400);
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 0.4;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.icon {
  margin-top: 10px;
  padding: 0;
}

.img {
  width: 20px;
  height: 20px;
}

.button {
  background-color: var(--white);
  border: none;
}

.message {
  align-self: center;
  margin-top: 10px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 16px;
}

.carDescription {
  max-height: 85px;
  margin: 0;
  margin-top: 10px;
  overflow: hidden;
  color: var(--gray400);
  font-weight: 400;
  font-size: 90%;
  font-style: normal;
  line-height: 17px;
  opacity: 0.6;
}

.carName {
  color: var(--blue100);
  text-transform: uppercase;
}

@media (max-width: $global-sm) {
  .container {
    right: 0;
    max-width: 600px;
    margin: 0 20px;
  }

  .content {
    padding: 15px;
  }
}
