.title {
  color: var(--blue100);
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 12px;
}

.form {
  padding-top: 15px;
}

.link {
  color: var(--blue300);
  text-decoration: none;
}

.fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;

  button {
    width: 100%;
  }
}

.alert {
  margin-bottom: 10px;
}

.formBottom {
  padding-top: 10px;
}

.divider {
  padding: 30px 0;
  color: var(--gray300);
}

.buttonsGroup {
  button {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.dialogContentText {
  text-align: justify;
}
