@import "@assets/css/styles";

html {
  @media (min-width: $global-xs) {
    font-size: 10px;
  }

  @media (min-width: $global-md) {
    font-size: 8px;
  }

  @media (min-width: $global-lg), (min-height: $global-height-lg) {
    font-size: 11px;
  }

  @media (min-width: $global-xl), (min-height: $global-height-xl) {
    font-size: 12px;
  }

  @media (min-width: $global-xxl), (min-height: $global-height-xxl) {
    font-size: 15px;
  }

  @media (min-width: $global-3xl), (min-height: $global-height-3xl) {
    font-size: 18px;
  }

  @media (min-width: $global-4xl), (min-height: $global-height-4xl) {
    font-size: 24px;
  }

  @media (min-width: $global-5xl), (min-height: $global-height-5xl) {
    font-size: 36px;
  }

  font-family: var(--primary-font);
}

body {
  width: 100%;
  font: var(--primary-font);
  background-color: #f1f4f6;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.mainContainer {
  margin: var(--header-height) 0;
  overflow-x: hidden;

  .searchWrapper {
    margin-top: 60px;
  }

  .firstContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - var(--header-height));

    @include landing-page-margin;

    padding-right: 0;
    padding-left: 0;

    @media (max-width: $global-md) {
      height: auto;
    }

    @media (max-width: $global-sm) {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }

    .firstContainerLeft {
      width: 28rem;
      margin-bottom: 10rem;

      @media (max-width: $global-md) {
        margin-top: 4rem;
        margin-bottom: 3rem;
      }

      @media (max-width: $global-sm) {
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 1.25rem;
      }

      .firstContainerLeftTextMain {
        padding: 0;
        font-weight: 900;
        font-size: 3.625rem;
        text-transform: uppercase;

        @media (max-width: $global-md) {
          font-size: 1.5rem;
        }
      }

      .firstContainerLeftTextSecondary {
        margin: 1rem 0;
      }

      .button {
        width: 12rem;
        height: 3rem;
        margin-bottom: 0.6rem;
        padding: 0.6rem 0;
        font-size: 1rem;
      }

      .buttonFill {
        margin-right: 0.6rem;
      }
    }

    .firstContainerRight {
      @media (max-width: $global-md) {
        display: flex;
        justify-content: right;
        max-width: calc(100% - 29rem);
      }

      @media (max-width: $global-sm) {
        width: 100%;
        max-width: 100%;
        margin-bottom: 2rem;
      }

      .car {
        width: 60rem;

        @media (max-width: $global-md) {
          width: 100%;
        }

        @media (max-width: $global-sm) {
          width: 100%;
          max-width: 33rem;
        }

        @media (min-width: $global-sm) {
          margin-right: calc(0px - var(--mui-padding-md));
        }

        @media (max-width: $global-sm) {
          margin-right: calc(0px - var(--mui-padding-sm));
        }
      }
    }
  }

  .secondContainer,
  .fourthContainer {
    @include landing-page-margin;

    @media (min-width: $global-sm) {
      margin-right: 6rem;
    }

    @media (max-width: $global-sm) {
      margin-right: 2rem;
    }

    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;

    .secondContainerHeader {
      margin-bottom: 1.25rem;
      font-weight: 900;
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    .secondContainerCards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      justify-items: center;
      gap: 1.5rem;
    }
  }

  .thirdContainer {
    @media (min-width: $global-sm) {
      margin: var(--header-height) calc(0px - var(--mui-padding-md));
    }

    @media (max-width: $global-sm) {
      margin: var(--header-height) calc(0px - var(--mui-padding-sm));
    }
  }
}
