.list {
  height: 100%;

  span {
    display: flex;
    justify-content: center;
  }

  .logout {
    position: absolute;
    bottom: 0;
    width: 100%;

    span {
      color: var(--red);
    }
  }
}
