.inputField {
  width: 100%;
}

.inputField.fieldWrapper {
  margin-bottom: 10px;
}

.inputField .label {
  left: 18px;
  color: var(--gray300);
  font-size: 14px;
  transform: translate(0, 14px) scale(1);
}

.inputField .input {
  border-radius: 50px;
}

.inputField .input input {
  box-sizing: border-box;
  height: 46px;
  padding: 10px 18px 4px;
  color: var(--black);
  font-size: 14px;
}

.inputField .input fieldset {
  border-color: var(--gray200);
}

.inputFieldError label {
  display: none;
}

.inputField .error {
  margin-top: 0;
  color: var(--red);
  font-size: 12px;
  font-family: var(--primary-font);
}

.inputField .error span {
  vertical-align: middle;
}

.errorIcon {
  display: inline-block;
  padding-right: 5px;
  vertical-align: middle;
}
