.title {
  margin: 1.875rem 0 0.313rem;
  text-transform: capitalize;
}

.option {
  display: flex;
  padding-top: 0.625rem;
  font-size: 1.1rem;
}

.optionName {
  width: 8rem;
  padding-right: 1rem;
  color: var(--gray400);
  word-wrap: break-word;
}

.optionColor {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.625rem;
  border-radius: 2px;
  box-shadow: 0 0 4px var(--gray300);
}
