.container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;

  h4 {
    margin-top: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-weight: 800;
  }
}

.blockTitle {
  margin: 10px 0;
}

.column {
  width: 100%;
  overflow-y: auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}

.addButton {
  color: var(--blue100);
  font-weight: 700;
  cursor: pointer;
}

.bottomControls {
  margin-bottom: 2rem;

  .reset {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: var(--blue100);
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;

    .resetIcon {
      margin-right: 5px;
      transform: rotate(90deg);
    }
  }

  .searchButton {
    width: 100%;
    height: 3rem;
    font-size: 1.1rem;
    background-color: var(--blue100);
    border-radius: 50px;

    &:hover {
      background-color: var(--blue300);
    }
  }
}
