.container {
  max-width: 500px;
  padding: 10px 30px;

  h4 {
    margin-top: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-weight: 800;
  }
}

.blockTitle {
  margin: 10px 0;
}

.mainRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  column-gap: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addButton {
  color: var(--blue100);
  font-weight: 700;
  cursor: pointer;
}

.reset {
  display: flex;
  align-items: center;
  color: var(--blue100);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.resetIcon {
  margin-right: 5px;
  transform: rotate(90deg);
}
