@import "@assets/css/styles";

.searchIcon.icon {
  font-size: 4rem;
}

.noCarsTitle {
  margin: 0;
  padding-left: 0.5rem;
}

.nothingFound {
  display: flex;
  align-items: center;
}

.topSearchCars {
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));

  @media (max-width: $global-sm) {
    grid-template-columns: 1fr;
  }
}

@media (max-width: $global-md) {
  .searchPage {
    .searchResultsCol {
      order: 2;
      margin-top: 15px;
    }
  }
}
