.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  padding: 25px 30px;
  background-color: var(--white);
  border-radius: 10px;

  h5 {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .buttonWrapper {
    display: flex;

    button {
      width: 20%;
      margin: auto;
      padding: 10px 30px;
      color: var(--white);
      background-color: var(--blue100);
      border-radius: 50px;
    }
  }
}

.title {
  margin: 15px 0;
  font-weight: 800;
}

.mainRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  column-gap: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.autocompleteField {
  margin-bottom: 15px;

  .MuiAutocomplete-popupIndicator {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }

  .label {
    left: 18px;
    color: var(--gray300);
    font-size: 14px;
    transform: translate(0, 14px) scale(1);
  }

  fieldset {
    top: 0;
    border-color: var(--gray200);
    border-radius: 50px;

    legend {
      display: none;
    }
  }
}

.searchButton {
  background-color: var(--blue300);
  border-radius: 50px;
}

.addButton {
  color: var(--blue100);
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 650px) {
  .container {
    min-width: fit-content;
  }

  .mainRow {
    flex-direction: column;
  }
}
