.autocompleteField {
  margin-bottom: 15px;
  padding: 0;

  .MuiAutocomplete-popupIndicator {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }

  fieldset {
    top: 0;
    border-color: var(--gray200);
    border-radius: 30px;

    legend {
      display: none;
    }
  }
}
