.container {
  display: flex;
  width: 100%;
  background-color: white;

  .deleteButton {
    line-height: 0;
    text-transform: none;
    background-color: var(--blue100);
    border-radius: 50px;

    .deleteIcon {
      margin-right: -5px;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  height: 35px;
  margin-right: 10px;
  padding: 2px 10px;
  background-color: var(--gray300);
  border-radius: 5px;
  cursor: default;

  svg {
    margin-left: 5px;
    cursor: pointer;

    &:hover {
      color: var(--blue100);
    }
  }
}
