@import "@assets/css/styles";

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  padding: 28px 32px 52px;
  overflow: auto;
  background: var(--white);
  border-top: 5px solid var(--blue100);
  transform: translate(-50%, -50%);

  @media (max-width: $global-lg) {
    width: 870px;
  }

  @media (max-width: $global-md) {
    width: 95%;
  }

  @media (max-width: $global-sm) {
    padding: 15px;
  }

  .cross {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  .mainTitle {
    margin: 0 0 20px;
    font-weight: 800;
    font-size: 1.4rem;
    text-transform: uppercase;

    @media (max-width: $global-sm) {
      margin-right: 35px;
      font-size: 1.2rem;
    }
  }
}

.comparison {
  display: flex;

  @media (max-width: $global-sm) {
    flex-direction: column;
  }

  &Title {
    display: inline-block;
    margin: 0 20px 0 0;
    font-weight: 700;
    font-size: 1.3rem;

    @media (max-width: $global-md) {
      font-size: 1.1rem;
    }
  }

  &Left {
    flex: 2;

    @media (max-width: $global-md) {
      flex: 3;
    }

    @media (max-width: $global-sm) {
      margin-bottom: 15px;
    }
  }

  &Right {
    flex: 3;
    padding-left: 60px;

    @media (max-width: $global-lg) {
      padding-left: 20px;
    }

    @media (max-width: $global-md) {
      flex: 2;
      padding-left: 5px;
    }

    @media (max-width: $global-md) {
      padding-left: 0;
    }
  }

  &List {
    max-height: 276px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    list-style: none;

    li {
      padding-bottom: 1px;
    }
  }

  &Form {
    min-height: 300px;
    padding-top: 15px;
  }
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.cancel {
  border: none;
}

.displayNone {
  display: none;
}

.button {
  padding: 5px 10px;
  color: var(--black);
  border-color: var(--gray300);
  border-radius: var(--border-radius-pill);

  &:hover {
    color: var(--white);
    background-color: var(--blue100);
  }
}

.active {
  color: var(--white);
  background-color: var(--blue100);
}

.wishlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 200px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;
}

form > div:nth-child(2) {
  height: 200px;
}
