.wrapper {
  display: grid;
  grid-template-rows: 18% minmax(1fr, 55%) 27%;
  grid-template-columns: 1fr 50px;
  box-sizing: border-box;
  width: 100%;
  min-height: 25rem;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 5px;
}

.carImage {
  grid-column: span 2;
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin: 1rem 0;
  border-radius: 5px;
}

.buttonsWrapper {
  display: flex;
  grid-column-start: 2;
  justify-content: space-between;
  justify-self: end;
  align-items: center;
  gap: 0.5rem;
}

.carTitle {
  display: flex;
  gap: 0.6rem;
}

.carLogo {
  align-self: center;
  height: 2.5rem;
}

.carName {
  align-self: center;
  font-weight: 700;
  font-size: 1rem;
}

.button {
  height: 1.2rem;

  &:hover {
    cursor: pointer;
  }
}

.iconButton {
  padding: 0;
  background: transparent;
  border: none;

  path {
    transition: all 300ms;
  }

  &.isLiked,
  &:hover {
    path {
      transition: all 300ms;
      fill: var(--blue100);
    }
  }
}

.cardFooter {
  display: flex;
  grid-column: span 2;
  grid-row-start: 3;
  justify-content: space-between;
  align-items: center;
}

.carContent {
  max-width: 13rem;
}

.carDescription {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  margin: 0;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--gray400);
  font-weight: 400;
  font-size: 0.9rem;
  opacity: 0.6;
}

.priceBox {
  display: flex;
  justify-content: end;
  min-width: 6rem;
  text-align: end;
  text-align-last: start;
}

.price {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: var(--blue100);
  font-weight: 900;
  font-size: 1.4rem;
}

.verticalLine {
  width: 0.075rem;
  height: 100%;
  margin: 0.6rem 0.3rem;
  background-color: var(--gray200);
  border: none;
}
