.wrapper {
  display: grid;
  grid-template-rows: 18% minmax(1fr, 55%) 27%;
  grid-template-columns: 1fr 80px;
  box-sizing: border-box;
  max-width: 400px;
  min-height: 430px;
  padding: 0 30px;
  background-color: var(--white);
  border-radius: 5px;
}

.carImage {
  grid-column: span 2;
  width: 100%;
  border-radius: 5px;
}

.buttonsWrapper {
  display: flex;
  grid-column-start: 2;
  justify-content: space-between;
  justify-self: end;
  align-items: center;
  gap: 10px;
}

.carTitle {
  display: flex;
  gap: 10px;
}

.carLogo {
  align-self: center;
  width: 35px;
  height: 35px;
}

.carName {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
}

.button {
  width: 20px;
  height: 20px;

  &:hover {
    cursor: pointer;
  }

  &:last-child {
    margin-left: 10px;
  }
}

.cardFooter {
  display: flex;
  grid-column: span 2;
  grid-row-start: 3;
  justify-content: center;
}

.carContent {
  max-width: 200px;
  margin-top: 17px;
}

.carDescription {
  max-height: 85px;
  margin: 0;
  overflow: hidden;
  color: var(--gray400);
  font-weight: 400;
  font-size: 90%;
  font-style: normal;
  line-height: 17px;
  opacity: 0.6;
}

.priceBox {
  display: flex;
  justify-content: end;
  width: 100px;
  min-width: 36%;
  margin-top: 26px;
  text-align: end;
  text-align-last: center;
}

.price {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: var(--blue100);
  font-weight: 900;
  font-size: 148%;
  font-style: normal;
  line-height: 25px;
  text-transform: uppercase;
}

.verticalLine {
  width: 1px;
  height: 70%;
  margin: 10px;
  background-color: var(--gray200);
  border: none;
}
