@import "@assets/css/styles";

html {
  font: var(--primary-font);
}

.wrapper {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 var(--mui-padding-md);
  background-color: var(--white);
  border: 1px solid var(--gray300);
  border-radius: var(--border-radius-container);
}

.comparisonContainer {
  display: flex;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btnOutline {
    font-size: 1rem;
  }
}

.btnContainer,
.compCarContainer {
  min-width: 20rem;
  max-width: 20rem;
  margin: 2rem 0;
}

.trashCanBtn {
  path {
    fill: var(--gray300);
  }
}

.iconButton {
  padding: 0;
  background: transparent;
  border: none;

  path {
    transition: all 300ms;
  }

  &.isLiked,
  &:hover {
    path {
      transition: all 300ms;
      fill: var(--blue100);
    }
  }
}

.clearBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  .clearBtnText {
    color: var(--blue300);
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--primary-font);
    transition: all 300ms;
  }

  .iconButton {
    margin-right: 5px;
    transform: scale(0.8);
  }

  &:hover {
    .clearBtnText,
    .iconButton {
      color: var(--blue100);
      cursor: pointer;
      transition: all 300ms;

      path {
        fill: var(--blue100);
      }
    }
  }
}

.button {
  &:hover {
    cursor: pointer;
  }
}

.compCar {
  position: relative;

  .positionsBtns {
    position: absolute;
    left: calc(50% - 2.5rem);
    display: none;

    .button {
      position: center;
      color: var(--gray300);
      background-color: var(--white);
      border: 0;

      &:hover {
        color: var(--blue100);
      }

      &:disabled,
      &[disabled] {
        color: var(--gray200);
        cursor: auto;
      }
    }
  }

  &:hover {
    .positionsBtns {
      display: flex;
    }
  }
}

.link {
  color: var(--blue300);
  text-decoration: none;

  &:hover {
    color: var(--blue100);
  }
}

.compCarContainer {
  display: flex;
  height: 80%;
  border-left: 0.075rem solid var(--gray300);

  .compCarContainerBtns {
    display: flex;
    flex-direction: column;

    .iconButton {
      margin: 0 1rem 1rem 2rem;
    }
  }

  .compCarContainerInfo {
    .carImage {
      width: 11rem;
      height: 7.5rem;
      object-fit: cover;
      border-radius: 5px;
    }

    .compCarContainerInfoText {
      margin-top: 0.5rem;
      font-weight: 800;
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    .compCarContainerInfoPrice {
      margin: 0.3rem 0;
      color: var(--blue100);
      font-weight: 600;
      font-size: 0.95rem;
    }
  }
}

.carLink {
  color: var(--black);
  text-decoration: none;

  &:hover {
    color: var(--blue100);
  }
}

.noCarsError {
  padding-left: 2rem;
  color: var(--blue100);
  font-size: 1.5rem;
  border-left: 0.075rem solid var(--gray300);
}

@media (max-width: $global-sm) {
  .btnContainer {
    min-width: 10rem;
    max-width: 10rem;
  }

  .btnOutline {
    max-width: 9rem;
    padding: 0;
  }
}
