.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.6rem;

  &.row {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;

    a {
      width: 2.5rem;
    }
  }
}

.viewedIcon {
  height: 20px;
}
