@import "@assets/css/variables";

.container {
  margin: 30px;
  padding: 25px 0;
  background-color: var(--white);
  border: solid 1px var(--white);
  border-radius: 5px;
}

.noFoundContainer {
  display: flex;
  margin: 30px;
  padding: 25px;
  background-color: var(--white);
  border: solid 1px var(--white);
  border-radius: 5px;

  .mg0 {
    margin: 0;
  }
}

.noCarsTitle {
  margin: 0;
  padding-left: 0.5rem;
}

.searchIcon.icon {
  font-size: 4rem;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
}

.carName {
  font-weight: 800;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.priceButton {
  width: 90px;
  padding: 6px;
  color: var(--black);
  border-color: var(--gray300);
  border-radius: 4px;
}

.seeAll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.moreButton {
  color: var(--blue100);
  font-weight: 700;
  font-size: 1.5rem;
  background-color: var(--white);
  border: none;

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: $global-md) {
  .priceDiv {
    display: flex;
    justify-content: center;
    width: 100px;
  }
}
