@import "@assets/css/styles";

.topAutoriaContainer {
  margin-top: 4rem;
}

.topAutoriaHeader {
  margin-bottom: 1.25rem;
  font-weight: 900;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.topAutoriaCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-items: center;
  gap: 1.5rem;

  @media (max-width: $global-sm) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $global-xl) {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  }
}
