.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  background-color: lightgray;
}

.title {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.show {
  height: auto;
  max-height: 9999px;
  overflow: auto;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.char {
  width: 13px;
  height: 26px;
  margin-right: 5px;
  color: var(--blue100);
  font-weight: 800;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
}

.lable {
  margin: 15px 0;
  color: var(--black);
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
}

p {
  margin: 0;
}
