@import "@assets/css/wrapper";

.center {
  display: flex;
  justify-content: center;
}

.message {
  color: var(--green);
}

.mgtop {
  margin-top: 50px;
}

.logoButton {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  border: none;

  &:hover {
    cursor: pointer;
  }
}
