@import "@assets/css/wrapper";

.center {
  display: flex;
  justify-content: center;
}

.green {
  color: green;
}

.mgtop {
  margin-top: 50px;
}

@media (max-width: 641px) {
  .content {
    padding: 30px 25px;
  }
}
