.button {
  height: 1.2rem;

  &:hover {
    cursor: pointer;
  }
}

.iconButton {
  padding: 0;
  background: transparent;
  border: none;

  path {
    transition: all 300ms;
  }

  &.isLiked,
  &:hover {
    path {
      transition: all 300ms;
      fill: var(--blue100);
    }
  }
}
