@import "@assets/css/styles";

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $global-md;
  max-height: 95%;
  padding: 28px 32px 52px;
  overflow: auto;
  background: var(--white);
  border-top: 5px solid var(--blue100);
  transform: translate(-50%, -50%);

  @media (max-width: $global-md) {
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
    width: auto;
    height: auto;
    transform: none;
  }

  @media (max-width: $global-sm) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    max-height: 100%;

    .selectsWrapper {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }

    .profile {
      flex-direction: column;

      .avatarWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
  }

  .cross {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  .mainTitle {
    margin: 0 0 10px;
    font-weight: 800;
  }

  .title {
    font-weight: 700;
  }
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 136px;
  margin-right: 30px;

  .avatarMenuItem {
    display: flex;
    margin: 10px 0 0;
    padding: 0;
    color: var(--blue100);
    white-space: nowrap;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    img {
      width: 0.8rem;
      margin: auto 6px;
    }
  }

  .saveAvatarBtn {
    margin-top: 10px;
    padding: 6px 45px;
  }
}

.avatar {
  position: relative;
  width: 7rem;
  height: 7rem;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #4646467f;
    background-image: url("@assets/images/edit-profile/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover::after {
    visibility: visible;
    opacity: 1;
  }
}

.profile {
  display: flex;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
  column-gap: 20px;
}

.cancel {
  border: 1px solid var(--blue100);

  &:hover {
    border-color: var(--blue300);
  }
}

button {
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
}

.fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;

  button {
    width: 100%;
  }
}

.selectsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
