.container {
  position: relative;
  padding: 3rem;
  background-color: var(--white);
  border-radius: var(--border-radius-container);
}

.loader {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.header {
  margin: 0;
}

.pillRow {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.625rem;
  margin-bottom: 1.5rem;
}

.pill {
  margin-top: 0.625rem;
  margin-right: 0.625rem;
  padding: 0.5rem 0.7rem;
  color: var(--white);
  font-size: 1.1rem;
  line-height: 1.1;
  background-color: var(--blue300);
  border-radius: var(--border-radius-pill);
}

.bodyRow {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;

  .bodyColumn {
    flex: 1 1 10rem;
    margin-left: 2.5rem;
    padding-left: 2.5rem;
    border-left: 1px solid var(--gray200);
  }

  .bodyColumn:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }

  .bodyColumn > h5:first-child {
    margin-top: 0;
  }
}
