.listCard {
  margin: 2.2rem 0;
  padding: 1.25rem;
  background-color: var(--white);
  border: 1px solid var(--gray200);
  border-radius: 10px;
}

.swiperWrapper {
  border-radius: 7px;
}

.slide {
  height: 22rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carTitle {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}

.pillButton {
  min-width: max-content;
  padding: 5px;
  color: var(--white);
  font-size: 0.8rem;
  font-family: var(--primary-font);
  background-color: var(--blue300);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;

  &:hover {
    background-color: var(--blue100);
    transition: all 300ms;
  }
}

.options {
  display: flex;
  margin: 1rem 0;
  overflow-x: scroll;

  .pillButton {
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
  }
}

.priceBlock {
  display: flex;
  align-items: center;
}

.primaryPrice {
  margin: 0 0.625rem 0 0;
  color: var(--blue100);
  font-weight: 800;
}

.secondaryPrice {
  color: var(--gray400);
  font-size: 0.875rem;
}

.tableWrapper {
  position: relative;
  margin-bottom: 1.25rem;
  border: 1px solid var(--gray100);
  border-radius: 10px;

  .table {
    margin: 0;

    th {
      padding: 5px 15px;
      line-height: 1;
    }
  }
}

.carInfo {
  padding: 0.5rem 0;
  font-size: 0.875rem;
}

.infoRow {
  display: flex;
  padding: 0.3rem 0;

  .title {
    width: 40%;
    margin: 0;
    padding-right: 10px;
    color: var(--gray400);
  }

  .option {
    width: 60%;
    margin: 0;
  }
}

.collapseButton {
  position: absolute;
  bottom: 0;
  left: 15px;
  display: flex;
  align-items: center;
  height: 2.2rem;
  color: var(--blue100);
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--primary-font);
  background-color: var(--white);
  border: 1px solid var(--gray100);
  border-radius: 5px;
  cursor: pointer;
  transform: translateY(50%);
  transition: all 300ms;

  &:hover {
    border-color: var(--blue100);
    transition: all 300ms;
  }
}
