.cars {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e5e5e5;

  &Title {
    margin-top: 0;
    font-weight: 800;
    font-size: 22;
    text-transform: uppercase;
  }
}

.messageWrapper {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
