@import "@assets/css/styles";

.logo {
  height: 2rem;

  @include landing-page-margin;
}

.button {
  height: 3rem;
  padding: 0.6rem 0;
  font-size: 1rem;
}

.btnOutline,
.btnOutline:hover {
  width: 5rem;

  @media (min-width: $global-md) {
    margin-right: var(--land-page-margin-md);
  }

  @media (max-width: $global-md) {
    margin-right: var(--land-page-margin-sm);
  }

  border-color: rgb(255 255 255);
}

.signupBtn {
  margin-left: auto;
}

.btnFill {
  width: 12rem;
}

.authAvatar {
  height: 3rem;
}

.navLink {
  height: var(--header-height);
}
