@import "@assets/css/styles";

.header {
  .toolbar {
    padding: 0;
  }
}

.logo {
  height: 2rem;
  margin-right: 1.5rem;
}

.button {
  height: 3rem;
  padding: 0.6rem 0;
  font-size: 1rem;
}

.btnOutline,
.btnOutline:hover {
  width: 5rem;
  border-color: rgb(255 255 255);
}

.signupBtn {
  margin-left: auto;
}

.btnFill {
  width: 12rem;
}

.authAvatar {
  height: 3rem;
}

.navLink {
  display: flex;
  align-content: center;
  align-items: center;
  height: var(--header-height);
  padding: 0 1.5rem;
  color: black;
  font-size: 1.2rem;
  font-family: var(--primary-font);
  text-transform: none;
  text-decoration: none;

  &:hover {
    color: var(--blue100);
    background: var(--white100);
  }

  &.itemActive {
    position: relative;
    border-bottom: 2px solid var(--blue100);
  }
}

