:root {
  --swiper-width: 540px;
  --font-lato: Lato, Arial, sans-serif;
  --z-index-current-image: 1;
  --preview-image-height: 70px;
  --main-image-height: 380px;
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 {
  width: var(--swiper-width);
  height: var(--main-image-height);
}
.mySwiper {
  height: var(--preview-image-height);
  width: var(--swiper-width);
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 10px;
}

.mySwiper .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 0.5;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper .swiper-slide-thumb-active .swiper-underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 98%;
  background-color: blue;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

.mySwiper2 {
  border-radius: 10px;
}
.mySwiper .swiper-slide img {
  border-radius: 3px;
}

.mySwiper2 .swiper-button-prev::after, .mySwiper2 .swiper-button-next::after {
  visibility: hidden;
}
.mySwiper2:hover .swiper-button-prev::after, .mySwiper2:hover .swiper-button-next::after {
  visibility: visible;
  color: blue;
  background: rgba(255, 255, 255, .5);
  font-size: 20px;
  font-weight: 900;
  padding: 10px 15px;
  border-radius: 5px;
}
.mySwiper2:hover .swiper-button-next::after {
  margin-right: 40px;
}
.mySwiper2:hover .swiper-button-prev::after {
  margin-left: 40px;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: var(--z-index-current-image);
  bottom: 0;
  background: rgba(255, 255, 255, .5);
  width: 90px;
  height: 40px;
  bottom: 30px;
  left: 30px;
  border-radius: 3.24px;
}
.navigation-bar .current-image {
  font-size: 16px;
  font-weight: 400;
  font: var(--font-lato);
}
