:root {
  --swiper-width: 100%;
  --z-index-current-image: 1;
  --preview-image-height: 70px;
  --main-image-height: 380px;
}

.mainSwiper,
.thumbsSwiper {
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mainSwiper {
  width: var(--swiper-width);
  height: var(--main-image-height);
  border-radius: 10px;

  .swiper-button-prev::after,
  .swiper-button-next::after {
    visibility: hidden;
  }
}

.thumbsSwiper {
  box-sizing: border-box;
  width: var(--swiper-width);
  height: var(--preview-image-height);
  margin-top: 10px;
  padding: 10px 0;

  .swiper-slide {
    width: 20%;
    height: 100%;
    opacity: 0.5;

    img {
      border-radius: 3px;
    }
  }

  .swiper-slide-thumb-active {
    opacity: 1;

    .swiper-underline {
      position: absolute;
      bottom: 0;
      width: 98%;
      height: 3px;
      background-color: var(--blue100);
      border-bottom-right-radius: 30%;
      border-bottom-left-radius: 30%;
    }
  }
}

.mainSwiper:hover {

  .swiper-button-prev::after,
  .swiper-button-next::after {
    padding: 10px 15px;
    color: var(--blue100);
    font-weight: 900;
    font-size: 20px;
    background: rgba(255 255 255 / 50%);
    border-radius: 5px;
    visibility: visible;
  }

  .swiper-button-next::after {
    margin-right: 40px;
  }

  .swiper-button-prev::after {
    margin-left: 40px;
  }
}

.navigation-bar {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: var(--z-index-current-image);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  background: rgba(255 255 255 / 50%);
  border-radius: 3.24px;

  .current-image {
    font: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
  }
}
