@import "@assets/css/variables";
@import "@assets/css/animations";

.container {
  position: relative;
  margin-bottom: 1rem;
  animation: hide-notification 2s ease 5s;
}

.timer {
  position: absolute;
  z-index: 100001;
  width: 100%;
  height: 5px;
  background-color: var(--blue100);
  animation: notification-timer ease 7s;
}

.content {
  position: relative;
  display: flex;
  max-width: 400px;
  padding: 25px 30px 30px;
  background-color: var(--white);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 3px 0 5px rgba(201 207 221 / 10%), 0 4px 9px 1px rgba(201 207 221 / 16%);
}

.close {
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 0;
  color: var(--gray400);
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 0.4;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.icon {
  margin-top: 10px;
  padding: 0;
}

.button {
  background-color: var(--white);
  border: none;

  svg,
  path {
    fill: var(--blue100);
  }
}

.undoButton {
  padding: 5px 15px;
}

.message {
  align-self: center;
  margin-top: 10px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 16px;
}

.messageText {
  margin-top: 0;
  margin-bottom: 10px;
}

@media (max-width: $global-sm) {
  .container {
    right: 0;
    max-width: 600px;
    margin: 0 20px;
  }

  .content {
    padding: 15px;
  }
}
