@import "@assets/css/variables";

.undoButton {
  padding: 5px 15px;
}

.message {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
}

.messageText {
  margin-top: 0;
  margin-bottom: 10px;
}
