.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 252.52px;
  background: #ffffff;
}

.logo {
  height: 70px;
  cursor: pointer;
}
