@import "@assets/css/styles";

.container {
  width: 100%;
  height: 15rem;

  @media (min-width: $global-sm) {
    padding: 0 calc(var(--land-page-margin-md) + var(--mui-padding-md));
  }

  @media (max-width: $global-sm) {
    padding: 0 calc(var(--land-page-margin-sm) + var(--mui-padding-sm));
  }

  background: var(--white);
}

.arrowWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 18px;
}

.swiperWrapper {
  position: static;
  height: 100%;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navLink:active {
  box-shadow: inset 0 -3px 0 0 #3765ff;
}

.logo {
  width: 5rem;
  cursor: pointer;
  transition: transform 0.5s;
}

.logo:hover {
  transform: scale(1.3);
}
