.container {
  width: 100%;
  height: 252.52px;
  padding: 0 50px;
  background: #ffffff;
}

.swiperWrapper {
  height: 100%;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navLink:active {
  box-shadow: inset 0 -3px 0 0 #3765ff;
}

.logo {
  width: 80px;
  cursor: pointer;
  transition: transform 0.5s;
}

.logo:hover {
  transform: scale(1.3);
}
