.container {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  background-color: var(--white);
  border: solid 1px var(--white);
  border-radius: var(--border-radius-container);
}

.header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.complectationHeader {
  margin: 0 0 0.8rem;
}

.price {
  color: var(--blue100);
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.1;
  text-transform: uppercase;
}

.priceUah {
  margin-left: 10px;
  color: var(--gray400);
  font-weight: var(--font-weight-regular);
  font-size: 1.1rem;
  line-height: 1.1;
}

.lables {
  display: flex;
  flex-wrap: wrap;
}

.label {
  display: flex;
  align-items: center;
  height: 25px;
  margin: 10px 10px 10px 0;
  padding: 4px 9px;
  color: var(--white);
  font-weight: var(--font-weight-regular);
  font-size: 1.1rem;
  line-height: 1.1;
  background: var(--blue300);
  border-radius: var(--border-radius-pill);

  &:hover {
    cursor: pointer;
  }
}

.complectation {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.complectationRow {
  display: flex;
  padding: 5px 0;
}

.complectationName {
  min-width: 6.8rem;
  margin-right: 10px;
  color: var(--gray400);
  font-weight: var(--font-weight-regular);
  font-size: 1.1rem;
  line-height: 1.1;
}

.complectationValue {
  font-weight: var(--font-weight-regular);
  font-size: 1.1rem;
  line-height: 1.4;
}

.iconButton {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
  }

  path {
    transition: all 300ms;
  }

  &.isLiked,
  &:hover {
    path {
      transition: all 300ms;
      fill: var(--blue100);
    }
  }
}

.icons {
  margin-left: auto;
}
