.UserPanel {
  display: flex;
  align-items: center;
  padding: 0;

  &Item {
    display: flex;
    align-items: center;
    margin-right: 35px;
    list-style: none;
  }

  &Link {
    margin-right: 15px;
    color: var(--black);
    text-decoration: none;
  }

  &Icon {
    margin-right: 15px;
  }

  &BadgeInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: var(--white);
    font-size: 0.75rem;
    text-align: center;
    background-color: var(--blue100);
    border-radius: 100%;
  }
}
