@import "./mixins";

.MuiInputLabel-root.MuiInputLabel-shrink.Mui-focused,
.MuiInputLabel-root.MuiInputLabel-shrink.MuiFormLabel-filled {
  color: var(--gray300);
  font-size: 12px;
  transform: translate(0, 5px) scale(0.75);
}

.MuiInputBase-root.MuiOutlinedInput-root.Mui-focused fieldset {
  border-width: 1px;
  border-color: var(--blue100);
}

.MuiInputBase-root.MuiOutlinedInput-root.Mui-disabled fieldset {
  border-color: var(--gray200);
}

.MuiInputBase-root.Mui-error input {
  color: var(--red);
}

.MuiInputBase-root {
  .MuiSelect-select {
    box-sizing: border-box;
    height: 46px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 0;
    font-size: 14px;
    font-family: var(--primary-font);
  }

  &.MuiInputBase-formControl {
    .MuiSvgIcon-root {
      right: 18px;
      width: 12px;
    }
  }
}

.MuiAutocomplete-root {
  .MuiFormControl-root {
    label {
      top: -3px;
      color: var(--gray300);
      font-size: 14px;
    }
  }

  .MuiOutlinedInput-root {
    height: 46px;

    .MuiAutocomplete-endAdornment {
      color: var(--gray300);
    }
  }

  .MuiInputLabel-root.MuiInputLabel-shrink.Mui-focused,
  .MuiInputLabel-root.MuiInputLabel-shrink.MuiFormLabel-filled {
    transform: translate(15px, 7px) scale(0.75);
  }

  .MuiAutocomplete-popupIndicator {
    margin-right: 7px;
  }

  .MuiAutocomplete-clearIndicator {
    color: var(--gray300);
  }
}

.MuiAlert-standard {
  margin-bottom: 10px;
}

.MuiTabs-root {
  .MuiTabs-scroller {
    @include landing-page-margin;

    .MuiButtonBase-root {
      height: var(--header-height);
      margin: 0 1.5rem;
      padding: 0;
      color: black;
      font-size: 1.2rem;
      text-transform: none;
    }
  }
}
