@import "./mixins";

.MuiInputLabel-root.MuiInputLabel-shrink.Mui-focused,
.MuiInputLabel-root.MuiInputLabel-shrink.MuiFormLabel-filled {
  color: var(--gray300);
  font-size: 1rem;
  transform: translate(0, 5px) scale(0.75);
}

.MuiInputBase-root.MuiOutlinedInput-root.Mui-focused fieldset {
  border-width: 1px;
  border-color: var(--blue100);
}

.MuiInputBase-root.MuiOutlinedInput-root.Mui-disabled fieldset {
  border-color: var(--gray200);
}

.MuiInputBase-root.Mui-error input {
  color: var(--red);
}

.MuiInputBase-root {
  .MuiSelect-select {
    box-sizing: border-box;
    height: 46px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 0;
    font-size: 1rem;
    font-family: var(--primary-font);
  }

  &.MuiInputBase-formControl {
    .MuiSvgIcon-root {
      right: 18px;
      width: 12px;
    }
  }
}

.MuiInputBase-root.MuiOutlinedInput-root {
  height: 3.4rem;
  font-size: 1rem;
}

.MuiFormControl-root {
  .MuiFormLabel-root {
    font-size: 1rem;
    transform: translate(0, 1rem) scale(1);
  }
}

.MuiAutocomplete-root {
  .MuiFormControl-root {
    label {
      top: -0.3rem;
      color: var(--gray300);
      font-size: 1rem;
      transform: translate(14px, 16px) scale(1);
    }
  }

  .MuiInputBase-root.MuiOutlinedInput-root {
    height: auto;
    padding: 12px 15px 10px;
    font-size: 1.3rem;

    input {
      padding: 3px 5px 0;
      font-size: 14px;
    }

    .MuiAutocomplete-endAdornment {
      top: auto;
      color: var(--gray300);
    }
  }

  .MuiInputLabel-root.MuiInputLabel-shrink,
  .MuiInputLabel-root.MuiInputLabel-shrink.Mui-focused,
  .MuiInputLabel-root.MuiInputLabel-shrink.MuiFormLabel-filled {
    font-size: 1rem;
    transform: translate(15px, 7px) scale(0.75);
  }

  .MuiButtonBase-root.MuiChip-root {
    height: 2.2rem;
    font-size: 1.1rem;
  }

  .MuiAutocomplete-popupIndicator {
    margin-right: 7px;
  }

  .MuiAutocomplete-clearIndicator {
    color: var(--gray300);
  }
}

.MuiAlert-standard {
  margin-bottom: 10px;
}

.MuiTabs-root {
  .MuiTabs-scroller {
    @include landing-page-margin;

    .MuiButtonBase-root {
      height: var(--header-height);
      margin: 0 1.5rem;
      padding: 0;
      color: black;
      font-size: 1.2rem;
      font-family: var(--primary-font);
      text-transform: none;

      @media (max-width: $global-md) {
        margin: 0;
      }
    }
  }
}

.MuiAlert-message {
  font-size: 1.2rem;
}

.MuiMenu-list {
  max-height: 350px;
}

.MuiList-root {
  .MuiListItemButton-root {
    display: flex;
    justify-content: center;
  }
}

.MuiBadge-root {
  span {
    min-width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
  }
}
