// noinspection CssInvalidAtRule
@import-normalize;

@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap";
@import "./variables";
@import "./toastify-variables";
@import "./form";
@import "./typography";
@import "./mixins";
@import "./animations";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--primary-font);
  background-color: var(--gray100);
}

body,
.styledScrollbar {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--blue200);
    border-radius: 10px;
    box-shadow: inset 0 0 6px #032081;
  }
}

.table {
  .equal-height-JlocK:last-child {
    .tableCell {
      border-bottom: none;
    }
  }
}

.Toastify__toast-body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.Toastify__toast-icon {
  align-self: start;

  svg,
  path {
    fill: var(--blue100);
  }
}
