// noinspection CssInvalidAtRule
@import-normalize;

@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap";
@import "./variables";
@import "./form";
@import "./typography";
@import "./mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--primary-font);
  background-color: var(--gray100);
}
