:root {
  --blue100: #3765ff;
  --blue200: rgba(#032081, 0.51);
  --blue300: #032081;
  --gray100: #f1f4f6;
  --gray200: #e4e8f2;
  --gray300: #c9cfdd;
  --gray400: #6a6c6d;
  --gray500: #f8f8f8;
  --black: #070a0c;
  --white: #ffffff;
  --white100: #fafafa;
  --red: #e81414;
  --green: #008000;
  --primary-font: lato, sans-serif;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --header-height: 10.5vh;
  --land-page-margin-md: 6rem;
  --land-page-margin-sm: 2rem;
  --mui-padding-md: 24px;
  --mui-padding-sm: 16px;
  --border-radius-button: 50px;
  --border-radius-pill: 4px;
  --border-radius-card: 5px;
  --border-radius-container: 10px;
}

$global-xs: 0;
$global-sm: 600px;
$global-md: 900px;
$global-lg: 1200px;
$global-xl: 1536px;
$global-xxl: 1920px;
$global-3xl: 2304px;
$global-4xl: 3072px;
$global-5xl: 4068px;

// height globals
$global-height-md: 450px;
$global-height-lg: 650px;
$global-height-xl: 820px;
$global-height-xxl: 980px;
$global-height-3xl: 1100px;
$global-height-4xl: 1420px;
$global-height-5xl: 2100px;
