:root {
  --blue100: #3765ff;
  --blue200: rgba(#032081, 0.51);
  --blue300: #032081;
  --gray100: #f1f4f6;
  --gray200: #e4e8f2;
  --gray300: #c9cfdd;
  --gray400: #6a6c6d;
  --black: #070a0c;
  --white: #ffffff;
  --red: #e81414;
  --primary-font: lato, sans-serif;
}
